@use "./../base" as *;

//insures base for mobile menu and projects is the same
// for menu fine-tuning see header file
.dialog {
  box-sizing: content-box;
  background-color: transparent;
  color: inherit;
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  --moz-backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px var(--text) solid;
}
::backdrop {
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  --moz-backdrop-filter: blur(2px);
}

.close-dialog {
  margin-left: auto;
}
