//insures base for mobile menu and projects is the same
// for menu fine-tuning see header file
.dialog {
  box-sizing: content-box;
  background-color: inherit;
  color: inherit;
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  --moz-backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 2px #ffffff3d solid;
}

.close-dialog {
  margin-left: auto;
}
