@use "./../base" as *;

.header {
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  border-radius: 30px;

  @include responsive(tablet-min) {
    height: $header-height-tablet;
  }
  @include responsive(desktop) {
    height: $header-height-desktop;
  }
  &__logo {
    height: 40px;
    width: auto;
    background: radial-gradient(var(--logo-background) 20%, transparent 70%);
    border-radius: 10px;
    @include responsive(tablet-min) {
      height: 50px;
    }
    @include responsive(desktop) {
      height: 60px;
    }
  }
  &__interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    @include responsive(tablet-min) {
      gap: 1.5em;
    }
  }
  &__menu {
    &--button {
      background: var(--background);
      border-radius: 10px;
      color: inherit;
      border: none; //taken care of with neumorphism
      &.close {
        float: right;
      }
    }
    &--icon {
      padding-top: 0.3em;
      height: 30px;
      width: auto;
      @include responsive(tablet-min) {
        height: 35px;
      }
      @include responsive(desktop) {
        height: 40px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    &--dialog {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      gap: 2em;
      padding: 2em;
      @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        padding: 0;
      }
    }
    &--listitem {
      list-style: none;
    }
    &--link {
      text-decoration: none;
      color: inherit;
      position: relative;
      font-weight: $fw-3;
      font-size: 1.3em;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--text);
        transition: width 0.2s ease-in;
      }
      &:hover::after {
        width: 100%;
      }
      & svg {
        margin-top: 0.1em;
        margin-right: 0.5em;
      }
    }
  }
}

.theme-toggle-icon {
  @include responsive(tablet-min) {
    height: 35px;
    width: auto;
  }
  @include responsive(desktop) {
    height: 40px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.custom-dialog {
  background-color: inherit;
  color: inherit;
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  --moz-backdrop-filter: blur(10px);
  background-color: #e2eed322; //works for dark theme!! ** #202c1133 for light theme? (or take text color with very low opacity)
  border-radius: 30px;
  border: 1px #ffffff3d solid; //for dark theme!!
}

.locale-switcher {
  background-color: inherit; // keep here for firefox
  color: inherit;
  border-radius: 10px;
  height: 1.5em;
  font-size: 1.25em;
  font-weight: 600;
  border: 1px solid var(--text);

  & option[value="en"],
  option[value="fr"] {
    //only way to have the dropdown have the right color, still looks odd in firefox, but remains legible
    color: inherit;
    background-color: var(--background);
  }
}

.small-switch {
  @include responsive(tablet-min) {
    display: none;
  }
}
.full-switch {
  display: none;
  @include responsive(tablet-min) {
    display: block;
  }
}
