@use "./../base" as *;

.header {
  margin: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 30px;

  @include responsive(tablet-min) {
    padding: 1em;
    height: 60px;
  }
  @include responsive(desktop) {
    height: 70px;
  }
  > .lucide-lamp-desk {
    fill: var(--accent);
    @include responsive(tablet-min) {
      height: 32px;
      width: 32px;
    }
    @include responsive(desktop) {
      height: 40px;
      width: 40px;
    }
  }
  &__portfolio {
    font-family: $flower-font;
    font-size: 1.6em;
    text-shadow: 2px 2px var(--accent);

    @include responsive(tablet-min) {
      font-size: 1.8em;
    }
    @include responsive(desktop) {
      font-size: 2em;
    }
    > span {
      display: none;
      @include responsive(tablet-min) {
        display: initial;
      }
    }
  }
  &__interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    @include responsive(tablet-min) {
      gap: 1.5em;
    }
  }
  &__menu {
    &--button {
      background: var(--background);
      border-radius: 10px;
      color: inherit;
      border: none; //taken care of with neumorphism
      &.close {
        float: right;
      }
    }
    &--icon {
      padding-top: 0.3em;
      height: 30px;
      width: auto;
      @include responsive(tablet-min) {
        height: 35px;
      }
      @include responsive(desktop) {
        height: 40px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    &--dialog {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 3em;
      @include responsive(tablet-min) {
        padding-block: 1em;
      }
    }
    &--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      gap: 2em;
      padding: 2em;
      @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        padding: 0;
      }
    }
    &--listitem {
      list-style: none;
      font-size: 1.6em;
      font-weight: 500;
    }
    &--link {
      text-decoration: none;
      color: inherit;
      position: relative;

      display: flex;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--accent);
        transition: width 0.2s ease-in;
      }
      &:hover::after {
        width: 100%;
      }
      & svg {
        margin-top: 0.1em;
        margin-right: 0.5em;
        @include responsive(tablet-min) {
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}

#dialog__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include responsive(tablet-min) {
    font-size: 1.5em;
  }
  & .footer__connect {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    & .lucide {
      @include responsive(tablet-min) {
        height: 32px;
        width: 32px;
      }
    }
  }
}

// Theme toggle handling
.theme-toggle-icon {
  fill: var(--accent);
  @include responsive(tablet-min) {
    height: 35px;
    width: auto;
  }
  @include responsive(desktop) {
    height: 40px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

// Language switch handling
.locale-switcher {
  background-color: inherit; // keep here for firefox
  color: inherit;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 600;
  border: 2px solid var(--accent);
  cursor: pointer;
  @include responsive(desktop) {
    font-size: 1.4em;
  }

  & option[value="en"],
  option[value="fr"] {
    //only way to have the dropdown have the right color, still looks odd in firefox, but remains legible
    color: inherit;
    background-color: var(--background);
  }
  &:hover {
    transform: scale(1.1);
  }
}
