@use "./../base" as *;

.project-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  row-gap: 2em;
  column-gap: 2em;
  justify-items: center;
  padding: 0 0.5em;
  margin: 1em 0;
  .project {
    min-width: 250px;
    min-height: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    padding: 1em;
    &__title {
      font-weight: 600;
      font-size: 1.7em;
      text-align: center;
      border-bottom: 2px dashed var(--accent);
    }
    &__techs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5em;
      border-radius: 10px;
      padding: 0.5em;
    }

    &__blurb {
      max-width: 200px;
      min-height: 120px;
      text-align: center;
      font-size: 1.5em;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__tech {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &--img {
        width: auto;
        height: 25px;
      }
    }
    &__button {
      font-family: "Indie Flower", Rajdhani, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
      border-radius: 10px;
      color: inherit;
      border: none;
      padding: 0.5em;
      font-size: 1.6em;
      margin-top: 0.5em;
    }
  }
}

.light .project__button:hover {
  background: #e2eed3;
  box-shadow: 10px 10px 5px #d0dbc2, -10px -10px 5px #f4ffe4;
  transform: scale(1.1);
}
.dark .project__button:hover {
  background: var(--background);
  box-shadow: 10px 10px 5px #17200c, -10px -10px 5px #293816;
  transform: scale(1.1);
}

.project-dialog {
  height: 100vh; //change maybe on larger screen to have something smaller in both direction
}

.project {
  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
  }
  &__close {
    border-radius: 10px;
    color: inherit;
    border: none;
    margin-bottom: 2em;
    > svg {
      padding-top: 0.3em;
      height: 30px;
      width: auto;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__cover {
    border-radius: 10px;
    object-fit: cover;
    margin: 1em;
  }
  &__desc {
    font-size: 1.4em;
    font-weight: 500;
    margin: 1em;
  }
  &__links {
    margin-top: 2em;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .lucide {
      width: 32px;
      height: 32px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.project-dialog {
  @include responsive(tablet-min) {
    max-width: 768px;
    height: fit-content;
    margin-inline: auto;
  }
}
