.light {
  --text: #4d3800;
  --background: #e2eed3;
  .to-light-theme {
    display: none;
  }
  .neumorphism-base {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: #fff 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 5px 0px inset;
  }
  .neumorphism-raised {
    background: var(--background);
    box-shadow: 3px 3px 0px #d0dbc2, -3px -3px 0px #f4ffe4;
  }
}

.dark {
  --text: #ffebb3;
  --background: #293e0f;
  .to-dark-theme {
    display: none;
  }
  .neumorphism-base {
    background: #202c1133;
    box-shadow: inset 5px 5px 10px #0d1207, inset -5px -5px 10px #33461b;
  }
  .neumorphism-raised {
    background: var(--background);
    box-shadow: 4px 4px 10px #17200c, -4px -4px 10px #293816;
  }
  .neumorphism-raised-hover {
    //here for reference, used in projects on discover button, no light equivalent on purpose
    background: #202c11;
    box-shadow: 10px 10px 5px #17200c, -10px -10px 5px #293816;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  --accent: #62b60184;
}

//theme toggling
.to-dark-theme,
.to-light-theme {
  cursor: pointer;
}

//for use for theme toggle checkbox (toggle action handled with label)
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
