@use "colors" as *;

// Responsive mixin

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet-min {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}

// General Layout
body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

main {
  max-width: 1440px;
  width: 90%;
  margin-inline: auto;
}

//navigation
.small-nav {
  @include responsive(desktop) {
    display: none;
  }
}
.large-nav {
  display: none;
  @include responsive(desktop) {
    display: flex;
  }
}

//sections except about for now

#projects,
#skills,
#contact {
  width: 100%;
  margin-inline: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  & h2 {
    display: flex;
    gap: 4px;
    margin-bottom: 0.5em;
    width: fit-content;
    font-family: "Indie Flower", Rajdhani, "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    border-bottom: 2px solid var(--accent);
    .lucide {
      height: 32px;
      width: 32px;
      padding: 4px;
    }
  }
}

h1 {
  text-shadow: 4px -2px var(--accent);
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin: 0.25em;
}

.contact__text {
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.5em;
  & > p {
    padding-bottom: 0.5em;
  }
  + .lucide-leaf {
    display: block;
    margin-inline: auto;
    margin-bottom: 0.5em;
    color: var(--text);
    fill: var(--accent);
    height: 32px;
    width: 32px;
  }
}
