// Responsive mixin

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet-min {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}

// General Layout
body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

main {
  max-width: 1440px;
  width: 90%;
  margin-inline: auto;
}

//navigation
.small-nav {
  @include responsive(desktop) {
    display: none;
  }
}
.large-nav {
  display: none;
  @include responsive(desktop) {
    display: flex;
  }
}

//sections except about for now

#projects,
#skills,
#contact {
  width: 100%;
  margin-inline: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  & h2 {
    display: flex;
    gap: 8px;
    padding-bottom: 0.5em;
  }
}

.contact__text {
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.5em;
  & > p {
    padding-bottom: 0.5em;
  }
  + .lucide-leaf {
    display: block;
    margin: auto;
  }
}
