//Fonts
$main-font: Rajdhani, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$flower-font: "Indie Flower", Rajdhani, "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif; //main as backup

html {
  font-size: 100%; //16px
}

body {
  font-family: $main-font;
  font-size: 1.125rem; //18px
}

em {
  border-bottom: 2px solid var(--accent);
}

strong {
  text-shadow: 3px -2px var(--accent);
}